*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: system-ui;
}


html::-webkit-scrollbar{
	width: 0;
}

/* header */

#header{
	background: skyblue;
	width: auto;
	height: 40px;
	padding-top: 15px;
	padding-bottom: 60px;
}

#navigation{
	background: black;
	background-repeat: repeat-x;
	height: 80px;
}

.logo-link{
	font-size: 3em;
	top: 0px;
	left: 78px;
	float: left;
	position: relative;
	color: black;
	text-decoration: none;
	padding: 7.9px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	background: skyblue;
	user-select: none;
}

#nav_panel{
	margin-right: 100px;
}

nav#nav_panel a{
	float: right;
	color: white;
	text-decoration: none;
	margin-top: 31px;
	margin-right: 40px;
	margin-left: 40px;
	font-size: 17px;
	user-select: none;
	transition-duration: 0.3s;
}


nav#nav_panel a:hover{
	color: #778899;
	transition-duration: 0.3s;
}

.droping-menu div{
	margin-top: 53px;
}

.droping-menu-content{
	display: none;
	position: absolute;
}

.droping-menu-content a{
	float: none !important; 
	background: black;
	color: black;
  	padding: 12px 16px;
  	margin-left: 1026px !important;
  	margin-top: 0px !important;
  	text-decoration: none;
  	display: block;
}

.droping-menu:hover .droping-menu-content{
	display: block;
  	transition-duration: 1s;
}

/* main */

#main{
	margin-top: 40px;
	height: 2500px;
	width: auto;
}

/* main dividing blocks */

.main-dividing-lines{
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px dashed #ddd;
}

.main-blog-blocks{
	height: 250px;
	width: auto;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
}

/* texst */

.main-blogs-texts{
	float: left;
	width: 70%;
	height: 300px;
	font-size: 20px;
	color: gray;
	font-weight: 300;
}

.main-blogs-texts p{
	margin-right: 20px;
}

.main-blogs-texts-left_right{
	float: left;
	width: 70%;
	height: 300px;
	font-size: 20px;
	color: gray;
	font-weight: 300;
}

.main-blogs-texts-left_right p{
	padding-right: 40px;
}

/* images */

.main-blogs-img{
	float: left;
	width: 30%;
	height: 300px;
}

.main-blogs-img-left_right{
	float: left;
	width: 30%;
	height: 300px;
}

/* footer */

#footer{
	width: auto;
	height: 50px;
	padding-top: 25px;
	margin-bottom: -10px;
}

.copyright_text{
	color: black;
	font-size: 0.8em;
	text-align: center;
	position: relative;
	top: -7.5px;
}

#copy_inf{
	height: 17px;
	width: auto;
	background: lightgray;
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 7px;
}

/* images styling */

.first-img{
	width: 400px;
	height: auto;
	margin-left: 20px;
	border-collapse: collapse;
	box-shadow: -15px 15px #7e5429 ;
	transition-duration: 0.4s;
}

.first-img:hover{
	margin-left: 0px;
	width: 440px;
	height: auto;
	box-shadow: -8px 8px black, -15px 15px #7e5429 ;
	transition-duration: 0.4s;
}

.second-img{
	width: 370px;
	height: auto;
	box-shadow: 20px 20px lightgray;
	transition-duration: 0.4s;
}

.second-img:hover{
	margin-left: -10px;
	width: 420px;
	height: auto;
	box-shadow: 10px 10px #1E5945, 20px 20px lightgray;
	transition-duration: 0.4s;
}

.third-img{
	margin-left: 35px;
	width: 360px;
	height: auto;
	box-shadow: -20px 20px #007792;
	transition-duration: 0.4s;
}

.third-img:hover{
	margin-left: 15px;
	width: 410px;
	height: auto;
	box-shadow: -10px 10px #007792, -20px 20px #b52b2c;
	transition-duration: 0.4s;
}	

.fourth-img{
	width: 380px;
	height: auto;
	box-shadow: 20px 20px black;
	transition-duration: 0.4s;
}

.fourth-img:hover{
	margin-left: -15px;
	width: 420px;
	height: auto;
	box-shadow: 10px 10px #B0B0B0, 20px 20px black;
	transition-duration: 0.4s;
}

.fifth-img{
	margin-left: 20px;
	width: 390px;
	height: auto;
	box-shadow: -20px 20px #D0D0D0;
	transition-duration: 0.4s;
}

.fifth-img:hover{
	margin-left: 10px;
	width: 420px;
	height: auto;
	box-shadow: -10px 10px #D0D0D0, -20px 20px black;
	transition-duration: 0.4s;
}

.sixth-img{
	width: 330px;
	height: auto;
	box-shadow: 20px 20px #D0D0D0;
	transition-duration: 0.4s;
}

.sixth-img:hover{
	width: 380px;
	height: auto;
	box-shadow: 10px 10px #D0D0D0, 20px 20px #989898;
	transition-duration: 0.4s;
}

.col-2{
	width: 200px;
}
.col-3{
	width: 100px;
}
.col-4{
	width: 200px;
}

