*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: system-ui;
}

html::-webkit-scrollbar{
	width: 0;
}

html{
	user-select: none;
}

#header{
	background: skyblue;
	width: auto;
	height: 500px;
	padding-top: 15px;
	padding-bottom: 60px;
}

.logo-link{
	font-size: 3em;
	top: 0px;
	left: 78px;
	float: left;
	position: relative;
	color: black;
	text-decoration: none;
	padding: 7.9px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	background: skyblue;
	user-select: none;
}

#navigation_block{
	background: black;
	background-repeat: repeat-x;
	height: 80px;
}

#nav_panel{
	margin-right: 100px;

}

nav#nav_panel a{
	float: right;
	color: white;
	text-decoration: none;
	margin-top: 31px;
	margin-right: 40px;
	margin-left: 40px;
	font-size: 17px;
	user-select: none;
	transition-duration: 0.3s;
}

nav#nav_panel a:hover{
	color: #778899;
	transition-duration: 0.3s;
}

.submit:before{
	  content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}

#header_text{
	margin-top: 80px;
	margin-left: 90px;
	margin-right: auto;
	margin-bottom: auto;
	padding-right: 900px;
	overflow: auto;
}

.header_text_h{
	color: black;
	font-weight: bold;
	font-size: 28px;
}

.header_text_par{
	color: black;
	overflow: auto;
	font-size: 1em;
}

.header_image{
	width: 500px;
	height: auto;
	position: absolute;
	float: right;
	right: 190px;
	top: 8em;
	box-shadow: 20px 20px whitesmoke;
	transition-duration: 0.5s;
}

.header_image:hover{
	box-shadow: 20px 20px gray, 40px 40px whitesmoke;
	transition-duration: 0.5s;
}

#header_button_form{
	margin-left: 490px;
	margin-top: 40px;
}

.button_header{
	font-size: 16px;
	font-style: italic;
	width: 100px;
	height: 40px;
	border: 1px solid black;
	background: whitesmoke;
	box-shadow: 10px -10px black;
	border-radius: 4px;
	transition-duration: 0.2s;
}

.button_header:hover{
	background: #778899;
	box-shadow: 7px -7px white;
	border: 1px solid white;
	color: white;
	border-radius: 4px;
	transition-duration: 0.3s;
}


#main{
	height: 850px;
	background: white;
}

#top_main_section{
	height: 14%;
	padding-left: 220px;
	margin-top: 40px;
	width: auto;
}

.top-main-blocks{
	padding: 20px 0px 20px;
	padding-right: 10px;
	margin-left: 50px;
	border: 0px solid white;
	border-radius: 15px;
	border-collapse: separate;
	background: whitesmoke;
	float: left;
	width: 22%;
	min-height: 120px;
	margin-bottom: 60px;
}

.top-block-links-headers{
	padding-left: 20px;
	padding-bottom: 10px;
}

.top-block-links-paragrahps{
	padding-left: 45px;
}

#down_main_section{
	height: 80%;
	width: auto;
	padding-left: 60px;
}

#main-left-section{
	float: left;
	width: 60%;
	height: auto;
}

.left-main-part-block{
	float: left;
	width: 50%;
	height: auto;
}

.left-main-part-block-50-50{
	margin-right: 50px;
}

.left-main-part-block-header{
	list-style-type: "\25C8";
	list-style-position: inside;
	padding-bottom: 14px;
	color: #778899;
	font-weight: bold;
}

.left-main-part-img{
	width: 350px;
	height: 200px;
	border: 4px solid lightgray;
	border-radius: 4px;
}

#main-right-section{
	float: left;
	width: 35%;
	height: auto;
	padding-left: 40px;
}

.right-main-part-block{
	width: auto;
	height: 25%;
	padding-bottom: 80px;
	padding-top: 40px;
	margin-right: 80px;
	border-bottom: 3px solid lightgray;
}

.right-main-block-img{
	width: 160px;
	height: auto;
	margin-right: 20px;
	float: left;
}

.main-right-block-text{
	color: dimgray;
}

.main-left-block-text{
	color: dimgray;
	padding-top: 10px;
}

.main-parts-headers{
	color: gray;
}

.main-left-part-big_text{
	margin-top: 10px;
	margin-bottom: 40px;
	color: dimgray;
}

#footer{
	width: auto;
	height: 470px;
	padding-top: 25px;
}

#footer_section{
	background: white;
	height: 260px;
	width: auto;
}

.slider-header{
	margin-bottom: 10px;
	font-weight: 250;
	font-size: 25px;
}

.copyright_text{
	color: black;
	font-size: 0.8em;
	text-align: center;
	position: relative;
	top: -7px;
}

#copy_inf{
	height: 17px;
	width: auto;
	background: lightgray;
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 7px;
}

.container {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.slider__wrapper {
overflow: hidden;
}

.slider__item {
	flex: 0 0 50%;
	max-width: 50%;
	height: 375px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(255, 255, 255, 0.8);
	font-size: 7rem;
}

.slider__item:nth-child(1){background: url(photo_10.jpg);}

.slider__item:nth-child(2){background: url(photo_6.jpg);}

.slider__item:nth-child(3){background: url(photo_3.jpg);}

.slider__item:nth-child(4){background: url(photo_7.jpg);}

.slider__item:nth-child(5){background: url(photo_9.jpg);}